body {
    background-color: black;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family: "Linux Libertine", "Linux Libertine O", "serif";
}

.footer
{
    position: absolute;
    bottom:10px;
    font-size:3pt;
}

.header
{
    background-color: #0ca;
    background: linear-gradient(to top, #0ca, #0fc);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 40px;
}

.classic
{
    background-color: white;
    color: black;
    font-size: 45pt;
    width:49%;
    border-radius: 5px;
    float: left;
    text-align:center;
}

.desktop
{
    background-color: #0ca;
    background: url("bashworks2.jpg");
    background-size:cover;
    color:white;
    font-size: 45pt;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 0px 0px 5px white;
    float:right;
    width:49%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0ca;
    transition: box-shadow 2s;
}

.desktop:hover
{
    transition: box-shadow 2s;
    box-shadow: 0px 0px 50px #0ca;
}
