body {
    font-family: "Linux Libertine", "Linux Libertine O", "serif";
}

tr {
    background-color: #CCC;
    padding: 3px;
    margin: 3px;
}

td {
    padding: 3px;
    margin: 3px;
}

tr.header{
    background-color: black;
    color:white;
}
